<h2>List</h2>

{{#each model as |contact|}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{contact.email}}</h3>
  </div>
  <div class="panel-body">
    <p>Message: {{contact.message}}</p>
  </div>
</div>
{{/each}}
