<h1>Contact Page</h1>

<div class="well">
  <ul class="nav navbar-pills">
    {{#link-to 'contact.index' tagName="li"}}<a href="">New Message</a>{{/link-to}}
    {{#link-to 'contact.viewall' tagName="li"}}<a href="">View all messages</a>{{/link-to}}
  </ul>
</div>

{{outlet}}
